# 🔹 Archivos y carpetas generadas por Angular
/dist
/tmp
/out-tsc
/.angular/cache
/bazel-out

# 🔹 Node.js (Módulos y logs)
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# 🔹 Archivos de configuración de IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# 🔹 Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# 🔹 Cobertura de Pruebas y Logs
/coverage
/libpeerconnection.log
testem.log
/typings

# 🔹 Archivos del Sistema (MacOS y Windows)
.DS_Store
Thumbs.db
